name: Update README
on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:
jobs:
  build:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_readme_cards:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&show_icons=true&theme=dark&locale=en&bg_color=3B9086&text_color=FFFFFF&icon_color=FFFFFF
          path: profile/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: wakatime
          options: username=AlexisL&api_domain=wakapi.alexisl.fr&bg_color=3B9086&title_color=FFFFFF&icon_color=FFFFFF&text_color=FFFFFF&custom_title=Languages%20used%20last%20week&layout=compact
          path: profile/wakapi.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit cards
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push

